.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  position: static;
  height: 100vh;
  background-image:  linear-gradient(to bottom, rgba(20, 0, 0, 0.7), rgba(55, 0, 0, 0.7)), url("https://it.tamu.edu/images/hero-help.jpg");
  background-size: 100% 100%;
  background-color: #5c6681;
}

.panel {
  border-radius: 20px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}