.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dashboard {
  display: flex;
  position: relative;
  height: 100vh;
  background-image:  linear-gradient(to bottom, rgba(101, 35, 30, 0.68), rgba(103, 35, 31, 0.68)), url("https://it.tamu.edu/images/hero-help.jpg");
  background-size: 100% 100%;
  background-color: #5c6681;
  color: #fff;
}

.panel {
  border-radius: 20px;
  border-style: solid;
  border-color: #766564;
  border-width: thin;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  height: calc(100% - 30px);
  width: calc(100% - 40px);
  padding-left: 10px;
  padding-right: 10px ;
}

.panel-title{
  background: rgba(255, 255, 255, 0.15);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: 30px;
  color: #eeeeee;
  border-color: rgba(150, 150, 150, 0.53);;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 10px ;
}
.panel-body{
  padding-top: 10px;
  font-weight: bolder;
  font-size: 50px;
  color: #d0d0d0;
}

.panel-title2{
  background: rgba(255, 229, 200, 0.11);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: auto;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bolder;
  font-size: 30px;
  color: #eeeeee;
  border-color: #d29700;;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-bottom-width: 10px ;
}

.time-panel-text{
  font-family: 'GothicOne', sans-serif;
  font-size: 85px;
  padding-top: 25px;
}

.date-panel-text{
  font-family: 'GothicOne', sans-serif;
  font-size: 30px;
}

@font-face {
  font-family: 'GothicOne';
  src: url('/public/PathwayGothicOne-Regular.ttf');
}